<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
    <h1>Sustainablity Quiz</h1>
    <label>Please read https://www.exeter.ac.uk/about/sustainability/ and answer the following questions:</label><br><br>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <label for="question_{{ forloop.counter }}"> {{ question.text }} </label><br>
            <input type="text" id="question_{{ forloop.counter0 }}" name="question_{{ forloop.counter0 }}" required><br><br>
        {% endfor %}
        <button type="submit">Check Answers</button>
    </form>
</body>
</html>
