<html lang="en">
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="home.html">
            <img src="static/images/home-image.png" alt="Logo" class="logo">
        </a>
        <div class="nav-links">
            <a href="{% url 'login' %}">Log in</a>
            <a href="bingo/">Play</a>
            <a href="page3.html">Garden</a>
            <a href="page4.html">Contact Us</a>
        </div>
    </nav>
<br><br><br>
<div class="opening">
	<h1>Sustainability Bingo</h1>
	<div class="text">
		<h2> How does it work? </h2>
		<p>Sustainability bingo lets you help the environment while having fun! Complete various challenges to tick boxes off of the bingo board and win leaf coins. These coins can be exchanged for seeds in the store, helping you to grow your very own virtual garden. Challenges can range from online quizzes and articles, to exploring campus and scanning QR codes. Learn more about the environment, and how we can help it, while growing your in game garden! Good luck!</p>
	</div>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<section class="section-two">    
	<section class="sustain-container">
	<br><br>
        <div class="sustain">
            <div class="sustain-text">
                <h2>Sustainable Food</h2>
                <p> One of our main priorities in helping the environment is creating a future where all food originates from sustainable food sources. Currently, the UK imports the majority of its fresh fruit and vegetables from overseas, which is not sustainable for multiple reasons. First, the transport of these good is a massive source of carbon emissions, further contributing to climate change. Secondly, the countries these goods are imported from often do not produce the goods in a sustainable way. Often, these goods are grown in areas which were originally rainforests, and then sold to nations such as the UK rather than contributing to the local economy. The way to increase food sustainability is to limit the amount of food sold and bought which has been imported from other overseas. Another way is to reduce the amount of food waste we produce.</p>
			</div>
			<img src="https://www.stockvault.net/data/2011/03/20/119777/preview16.jpg" alt="Sustainable Food">
        </div>
        <div class="sustain">
            <div class="sustain-text">
                <h2>Preventing Climate Change</h2>
                <p>This is a sustainability goal which has become much more prevalent in recent years. Carbon emissions must be reduced to ensure that the greenhouse effect doesn’t continue to affect the planet. There are many ways to do this, but the most commonly discussed are sustainable energy sources, and reducing energy usage. This can be as small as turning of lights when leaving a room, and as big as introducing energy sources such as solar panels and wind turbines. Many countries are implementing a net-zero carbon emissions plan for the future, with hopes to further decrease the chance and risk of climate change.</p>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYa0EvIyVoa8A9hNU7Y8Ayr6LRPNvHRCeIAw&s">
        </div>

        <!-- sustain 3: International Space Station -->
        <div class="sustain">
            <div class="sustain-text">
                <h2>Reducing Poverty</h2>
                <p>Sustainability isn’t all about the environment. It also includes increasing how sustainable peoples lives are economically. Another key goal for a sustainable future is to reduce the  number of people who have to live in extreme poverty. This, however can be extremely challenging, as poverty has been a long-standing problem through all of our history. Despite this, there are still things we can do to reduce it. This can include donating to charities, helping volunteer in local communities, or raising awareness. </p>
            </div>
            <img src="https://images.pexels.com/photos/6646870/pexels-photo-6646870.jpeg">
        </div>

        <!-- sustain 4: Recent Mars Missions -->
        <div class="sustain">
            <div class="sustain-text">
                <h2>Sustainable Cities and Communities</h2>
                <p>The last main goal of this app is ensuring the sustainability of our cities and urban areas. 57% of the world’s population live in cities, so its important to keep these cities liveable and safe for people to live in in both the near and far future. A lot of this can link back to sustainable food, water and energy, as cities use much of each of these. As well as this, we also need to create green spaces, ensure that buildings can last through natural disasters or extreme weather, and help to grow strong local communities that can help each other through hard times.</p>
            </div>
            <img src="https://images.stockcake.com/public/6/d/7/6d7ad099-e2dd-4b8c-8386-9ae802f7a34a/miniature-eco-city-stockcake.jpg">
        </div>
		<br><br>
    </section>
</section>
<section class="footer">
	<p> @ Copyright 2025. All rights reserved. </p>
</section>
</body>
</html>
